<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wit.football">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ListPlayersActivity"
            android:label="@string/title_activity_list_players"
            android:parentActivityName=".activities.FantasyFootballActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activities.EditTeamActivity" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".activities.CreateTeamActivity" android:parentActivityName=".activities.FantasyFootballActivity" />
        <activity android:name=".activities.ListTeamsActivity" android:parentActivityName=".activities.FantasyFootballActivity" />
        <activity android:name=".activities.FantasyFootballActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>